!!! 5
%html{:lang => "en"}
 %head
  %title Attributes
 %body
  %div{:class => "container"}
   %form{:class => "form-inline"}
    %label{:class => "label"}
    %input{:type => "text", :class => "hello"}/
    %button{:type => "submit", :class => "btn btn-primary"}
     Sumbit
